* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --backgruond-color: #27cc94;
  --text-color: #bebebe;
  --unchecked-complete: #7b848a;
  --unchecked-complete-hover: #505152;
  --text-todo-color: #fdfdfd;
}
body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  background-color: var(--backgruond-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
