.container {
  min-width: 300px;
  min-height: 300px;
  max-width: 800px;
  background-color: #fffffe;
  border-radius: 1rem;
  margin: 10px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.8);
  display: grid;
  grid-template-rows: 92px 110px 3fr;
  padding: 8px 8px;
}
@media screen and (min-width: 40em) {
  .container {
    padding: 2rem 1rem;
    min-width: 650px;
    max-width: 700px;
  }
}
